<%- include("./public/head.ejs") %>
  <div class="link fl"><a href="/admin">后台首页</a></div>
<%- include("./public/head-nav.ejs") %>
  <div class="main">
    <!--右侧内容-->
    <div class="cont">
      <div class="title">后台管理</div>
      <div class="details">
        <div>
          <img src="/images/lunbo1.gif" alt="tupian">
        </div>
      </div>
    </div>
  </div>
<%- include("./public/foot.ejs") %>