
  <!--左侧列表-->
  <div class="menu">
    <div class="cont">
      <div class="title">管理员</div>
      <ul class="mList">
        <li>
          <h3><span>+</span>管理员管理</h3>
          <dl class="hiden">
            <dd><a href="/admin/user/addadmin">添加管理员</a></dd>
            <dd><a href="/admin/user/adminlist">管理员列表</a></dd>
            <dd><a href="/admin/user/addrole">添加角色</a></dd>
            <dd><a href="/admin/user/rolelist">角色列表</a></dd>
          </dl>
        </li>
        <li>
          <h3><span>+</span>商品管理</h3>
          <dl class="hiden">
            <dd><a href="/admin/goods/goodslist">商品管理</a></dd>
            <dd><a href="/admin/goods/cgoods">商品分类管理</a></dd>
            <dd><a href="/admin/goods/goodsupdown">商品上下架</a></dd>
            <dd><a href="/admin/goods/goodstuijian">商品推荐</a></dd>
          </dl>
        </li>
        <li>
          <h3><span>+</span>订单管理</h3>
          <dl class="hiden">
            <dd><a href="#">订单修改</a></dd>
            <dd><a href="#">订单又修改</a></dd>
            <dd><a href="#">订单总是修改</a></dd>
            <dd><a href="#">测试内容你看着改</a></dd>
          </dl>
        </li>


      </ul>
    </div>
  </div>

</div>




  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="/lib/jquery/jquery-3.2.1.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/lib/bootstrap/js/bootstrap.js"></script>
  <script src="/admin/js/back.js"></script>
  </body>
  </html>