<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>-.-</title>
  <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet">

  <link rel="stylesheet" href="/admin/style/backstage.css">
</head>

<body>
<div class="head">
  <div class="logo fl"><a href="#"></a></div>
  <h3 class="head_text fr">电子商务后台管理系统</h3>
</div>
<div class="operation_user clearfix">
